.talk-wrapper {
  height: 100%;
  display: flex;
  .content-wrapper {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 750px;
  }
  .aside-wrapper {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 350px;
  }
}