.top-bar {
  height: 48px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  // ##24292e;
  .top-bar-inner {
    height: 100%;
    max-width: 890px;
    min-width: 590px;
    margin: 0 auto;
  }
  .tabs {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    .tab-item {
      width: 100px;
      height: 48px;
      font-size: 14px;
      font-weight: bold;
      color: #24292e;
      text-align: center;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid #24292e;
      }
      .text {
        display: inline-block;
        margin-top: 13px;
      }
    }
    .active {
      border-bottom: 2px solid #24292e;
    }
  }
}