.top-bar {
  height: 62px;
  background: #24292e;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  // ##24292e;
  .logo {
    width: 45px;
  }
  .search {
    .search-input {
      height: 30px;
      border: none;
      border-radius: 3px;
      width: 300px;
      padding: 6px 8px;
      outline: none;
    }
    .blur {
      background: hsla(0,0%,100%,.125);
      color: #fff;
    }
    .focus {
      background-color: #fff;
      color: black;
    }
  }
  .tabs {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}